.logo{
    background-color:rgba(143, 143, 211, 0.3);    
}

.logo:hover{
    background-color:rgba(143, 143, 211, 1);
} 

.ponch{
    background-color:rgba(238, 20, 147, 0.3);
    text-align: center;
    font-family:Helvetica;
}

.white{
    padding-top: 2%;
    color: rgb(81, 47, 160);
    font-weight:700;
    font-size:60px;
    text-align: center;
    font-family:Helvetica;
    text-shadow:4px 3px 2px white;
}

.hacer{
    color: rgb(122, 100, 173);
    text-align:left;
    font-family:Helvetica;
    font-weight: 700;
    padding-left:5%; 
    font-size:14px;    
}

.hacer:hover{
    color:#bd0f83;
    font-size: 18px;
}


.comienzo{
    font-family:Helvetica;
    font-size:28px;
    width: 70%;
    padding-left: 15%
        
}

span {
    font-size:32px;
}

p{
    text-indent: 3%;
    text-align: justify;
}

.resto{
    font-family:Helvetica;
    font-size:18px;
    width: 80%;
    padding-left: 10%;
}

.final{
    font-family:Helvetica;
    font-size:16px;
    width: 85%;
    padding-left: 10%;
}

 h2{
    color: rgb(81, 47, 160);
    font-family:Helvetica;
    padding-left: 10%;  
    }

h3{
    color: rgb(81, 47, 160);
    font-family:Helvetica;
    padding-left: 15%;    
}

ul {
    font-family:Helvetica;
    padding-left: 15%;
    font-weight: 700;
}

ol{
    font-family:Helvetica;
    padding-left: 15%; 
}
video{
    padding-left: 15%;   
}

body{
    background-color:rgba(238, 20, 147, 0.1);
}

.final{
    font-family:Helvetica;
    padding-left: 5%; 
}

h4{
    padding-left: 5%;
    color: rgb(81, 47, 160);
    font-family:Helvetica;
    width: 80%;
    font-size:18px;
}

footer{
    padding-top: 0.1%;
    padding-left: 5%;
    background-color:rgba(143, 143, 211, 0.5);
    color: rgb(54, 30, 110);
    font-family:Helvetica;
}
button:hover{
    background-color:#bd0f83;
    color: honeydew;
}

.button{
    font-family:Helvetica;
    font-weight:700;
    color: rgb(81, 47, 160);
    
}

.forma{
    font: weight 500;
    text-align: center;   
}

input:required{
    background-color:pink;

   }